<%= render partial: 'layouts/errors', locals: {object: @cheese}  %>

<%= form_for @cheese do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :color %>
  <%= f.text_field :color %>
</div> 
<div> 
  <%= f.label :texture %>
  <%= f.text_field :texture %>
</div> 
<div>  


<p> Select a Style that already exists: </p>
<div>
  <%= f.collection_select :style_id, Style.all, :id, :name, include_blank: 'Select One'%>

</div>

<p> Or create a new Style: </p>
<div>
  <%=f.fields_for :style do |s| %>
    <div>
    <%= s.label :name %>
    <%= s.text_field :name %>
    </div>
    <div>
    <%= s.label :details %>
    <%= s.text_field :details %>
  <% end %>
</div>
<br>

<p> Now, pair it with a wine we have: </p>
<div>
  <%= f.collection_select :wine_id, Wine.all, :id, :varietal, include_blank: 'Select One'%>
</div>

<p> Or BYOB! What's your poison? </p>
<div>
  <%=f.fields_for :wine do |w| %>
    <div>
    <%= w.label :varietal %>
    <%= w.text_field :varietal %>
    </div>
    <div>
    <%= w.label :region %>
    <%= w.text_field :region %>
  <% end %>
</div>
<br>


  <%= f.submit "FonDO It!" %>
<% end %>