<%= render partial: 'layouts/errors', locals: {object: @cheese}  %>

<%= form_for @cheese do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :color %>
  <%= f.text_field :color %>
</div> 
<div> 
  <%= f.label :texture %>
  <%= f.text_field :texture %>
</div> 
<div>

<%= f.label :style %>
<%= f.select :style,options_for_select(["Fresh/Unripened", "Mild", "Creme", "Brie/Camembert", "Swiss", "Cheddar", "Grana", "Goat's Milk", "Sheep's Milk", "Blue/Bleu", "Strong", "Flavored"]) %>

</div> 
<div> 
  <%= f.label :notes %>
  <%= f.text_area :notes %>
</div> 
<div>  

  <%= f.submit "FonDO It!" %>
<% end %>