<h1>Say hello to my little friend, <%= @cheese.name %>!</h1>

<h3>Color: <%= @cheese.color %></h3>
<h3>Texture: <%= @cheese.texture %></h3>
<h3>Notes: <%= @cheese.notes %></h3>

<%= link_to "Edit This Cheese", edit_cheese_path(@cheese) if @cheese.user == current_user %>

