
  <%= render partial: 'layouts/errors', locals: {object: @wine}  %>

  <%= form_for(@wine) do |f| %>
<h1>Add a wine to our list!</h1>
  <div>
    <%= f.label :varietal %>
    <%= f.text_field :varietal %>
  </div>
  <br><br>
  <div>
    <%= f.label :region %>
    <%= f.text_field :region %>
  </div> 
  <div> 

  

  <h3><strong>Pair this wine with one of our amazing cheeses!</strong></h3>
  <br>
    <%= f.label :cheeses %><br />
    <% for cheese in Cheese.all %>
      <%= check_box_tag "wine[cheese_ids][]", cheese.id, @wine.cheeses.include?(cheese) %>
      <%= cheese.name %><br />
    <% end %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>