<!DOCTYPE html>
<html>
  <head>
    <title>CheeseBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <br><br><br>
    <%= link_to "Login", login_path %> |
    <%= link_to "Signup", signup_path %> |
  </head>

  <body>
    <%= yield %>
  </body>
</html>
